{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 18, "knowledge_revision": 150, "git_revision": "", "hash": "e19c2368cf97e5f3eaf8de37cff2b341", "format-version": 4, "code-base-name": "default", "filename": "mobile_frontend_workspace/mobile_frontend/macos/Runner/Configs/Warnings.xcconfig", "revision_history": [{"150": ""}]}