{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 16, "knowledge_revision": 151, "git_revision": "", "hash": "d4fb2a4fd32a1c3a9271635782d99ed1", "format-version": 4, "code-base-name": "default", "filename": "mobile_frontend_workspace/mobile_frontend/macos/Runner/Configs/AppInfo.xcconfig", "revision_history": [{"151": ""}]}