{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 69, "knowledge_revision": 197, "git_revision": "", "hash": "b2eee7b9fd4cbaa30634850862dbf20d", "format-version": 4, "code-base-name": "default", "filename": "mobile_frontend_workspace/mobile_frontend/ios/Runner/Info.plist", "revision_history": [{"197": ""}]}