{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 102, "knowledge_revision": 230, "git_revision": "", "hash": "9cfb45a3f58ddc12676d744caaed7525", "format-version": 4, "code-base-name": "default", "filename": "mobile_frontend_workspace/mobile_frontend/windows/runner/Runner.rc", "revision_history": [{"230": ""}]}